body {
  #signin {
    margin: 0 auto;
    padding:2em;
    width: 400px;
    border:1px solid #eee;
  }
  #register {
    margin: 0 auto;
    padding:2em;
    width: 800px;
    border:1px solid #eee;
  }
  .dropzone {
    width: 100%; 
    background-color:#fafafa;
    border:1px solid #003;
    padding:5em;
    text-align:center;
    margin-bottom:1em;
  }

  #digital_asset_form {
    form {
      img {
        border:1px solid #ccc;   
        margin-bottom:1em;
      }
      #map_canvas {
        height:480px; 
      }
    } 
  }
}
