{% import 'shared/_forms.html' as forms %}

{% extends 'layouts/base.html' %}

{% block main_content %}

<div id="forgot_password">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Forgot your password?</strong>
      </div>
      <div class="panel-body">
        <p>
            <form action="{{ url_for('users.forgot_password') }}" method="POST">
                {{ forgot_password_form.csrf_token }}
                {{ forms.render(forgot_password_form) }}
                <button class="btn btn-default" type="submit">Send reminder</button>
            </form>
        </p>
      </div>
    </div>
</div>

{% endblock main_content %}
