{% import 'shared/_forms.html' as forms %}

{% extends 'layouts/base.html' %}

{% block main_content %}

<div id="register">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Sign up</strong>
      </div>
      <div class="panel-body">
        <p>
            <form action="{{ url_for('users.register') }}" method="POST">
                {{ register_form.csrf_token }}
                {{ forms.render(register_form) }}
                <button class="btn btn-default" type="submit">Register</button>
            </form>
        </p>
      </div>
    </div>
</div>

{% endblock main_content %}

