{% import 'shared/_forms.html' as forms %}

{% extends 'layouts/base.html' %}

{% block main_content %}

<div id="send_confirmation">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Resend your confirmation</strong>
      </div>
      <div class="panel-body">
        <p>
            <form action="{{ url_for('users.send_confirmation') }}" method="POST">
                {{ send_confirmation_form.csrf_token }}
                {{ forms.render(send_confirmation_form) }}
                <button class="btn btn-default" type="submit">Send</button>
            </form>
        </p>
      </div>
    </div>
</div>

{% endblock main_content %}
