{% extends 'layouts/base.html' %}

{% block main_content %}

<ul class="breadcrumb">
  <li>
    <a href="{{ url_for('www.slash')}}">Home</a>
  </li>
  <li>
    <a href="{{ url_for('digital_assets.index')}}">Digital Assets</a>
  </li>
  <li class="active">
    View
  </li>
</ul>

{% if digital_asset %}
<div class="row">
  <div class="page-header">
    <h1>{{ digital_asset.title }}</h1>
  </div>
  <div class="col-xs-6 col-md-4">
    <h4>Description</h4>
    <p>
      {{ digital_asset.description }}
    </p>

    <hr/>

    <h4>Author</h4>
    <p>
      {{ digital_asset.author }}
    </p>

    <hr/>

    <h4>Published Date</h4>
    <p>
    {% if digital_asset.published_at %}
      {{ digital_asset.published_at }}
    {% else %}
      Unknown
    {% endif %}
    </p>
  </div>

  <div class="col-xs-12 col-md-8">
    {% if digital_asset.image_url %}
    <img src="{{ digital_asset.image_url }}"/>
    {% else %}
    <img src="http://fillmurray.com/640/480"/>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock main_content %}
