{% extends 'layouts/base.html' %}

{% block meta_custom %}
<meta name="csrf-token" content="{{ csrf_token() }}"/>
{% endblock meta_custom %}

{% block main_content %}
<ul class="breadcrumb">
  <li>
    <a href="{{ url_for('www.slash')}}">Home</a>
  </li>
  <li>
    <a href="{{ url_for('sources.index')}}">Sources</a>
  </li>
  <li class="active">
    Add
  </li>
</ul>

<div id="source_form"></div>
{% endblock main_content %}

{% block js_custom %}
<script src="{{ url_for('static', filename='js/source_form.bundle.js') }}"></script>
{% endblock js_custom %}
