{% extends 'layouts/base.html' %}

{% block main_content %}
<ul class="breadcrumb">
  <li>
    <a href="{{ url_for('www.slash')}}">Home</a>
  </li>
  <li class="active">
    Sources
  </li>
</ul>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>URL</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if sources %}
            {% for source in sources %}
            <tr>
                <td><a href="{{ url_for('sources.view_source', id=source._id) }}">{{ source._id }}</td>
                <td>{{ source.name }}</td>
                <td>
                    {% if source.url%}
                    <a href="{{ source.url }}">{{source.url}}</a>
                    {% endif %}
                </td>
                <td>
                    {% if source.email %}
                    <a href="mailto:{{ source.email }}">{{source.email}}</a>
                    {% endif %}
                </td>
                <td>
                    {% if source.phone_number%}
                    <a href="tel:{{ source.phone_number }}">{{source.phone_number}}</a>
                    {% endif %}
                </td>
                <td class="text-align">
                    <a class="btn btn-default btn-sm pull-left" href="{{ url_for('sources.edit_source', id=source._id) }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                    <form method="post" role="form" class="pull-left form-inline" action="{{ url_for('sources.delete_source', id=source._id) }}">&nbsp;
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button class="btn btn-danger btn-sm" type="submit"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"/>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
{% endblock main_content %}
